#container{
	background-color: blue;
	display: inline-block;
	width: 400px;
	height: 400px;
}


#contents{
	background-color: green;
	display: inline-block;
	width: 320px;
	height: 320px;
}


div {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
}


