.pizza {
  position: absolute;
  top: 50px;
  left: -50px;
}

.pizzaCrust {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 250px solid #F27405;
}

.cheese {
  position: absolute;
  top: -210px;
  left: -84px;
  width: 0;
  height: 0;
  border-left: 84px solid transparent;
  border-right: 84px solid transparent;
  border-top: 209px solid #F2E52E;
}

.pepperoni01 {
  position: absolute;
  top: -200px;
  left: 10px;
  width: 35px;
  height: 35px;
  background: #F24182;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.pepperoni02 {
  position: absolute;
  top: 50px;
  left: -50px;
  width: 35px;
  height: 35px;
  background: #F24182;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.pepperoni03 {
  position: absolute;
  top: 70px;
  left: 25px;
  width: 35px;
  height: 35px;
  background: #F24182;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}




.face {
    height: 390px;
    width: 250px;
    border: solid 0px black;
    border-radius: 177px 194px 0 0;
    background: orange;
    left: 1px;
    top: 2px;
}
  
  
  
.leftEYE{
  position: absolute;
  top: 70px;
  left: 100px;
  width: 70px;
  height: 70px;
  background: #F24182;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}


